.container {
  display: flex;
}

.container-left {
  background-color: blueviolet;
  width: 50%;
}

.container-right {
  background-color: brown;
  width: 50%;
}

.col {
  border: 2px solid blueviolet;
  width: 100%;
}